name: Testing

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - main
  pull_request:

jobs:

  pytest:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: [3.8]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python ${{ inputs.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ inputs.python-version }}

      - name: Install main package
        run: |
          pip install .[test]

      - name: Run tests
        run: |
          pytest test/base test/datasets
